<p id="notice"><%= notice %></p>

<h1>Dossiers</h1>

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1>Vous avez <%= @dossiers.length %> dossier.</h1>
    </div>
  </div>
  <% count = 0 %>
  <% @dossiers.each do |dossier| %>
  <%= link_to dossier do %>
  <div class="row">
    <div class="col-md-offset-2 col-md-1">
      <%= count += 1 %>
    </div>
    <div class="col-md-2">
      <%= dossier.name %>
    </div>
    <div class="col-md-2">
      <%= dossier.client %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Edit', edit_dossier_path(dossier) %>
      <%= link_to 'Destroy', dossier, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

<%= link_to 'Nouveau', new_dossier_path, class: "btn-default btn-default-big" %>
